/**
	Easing
**/

.ease-in-out(@time) {
  transition: all @time ease-in-out;
}

.ease(@time){
	transition: all @time ease;
}

.ease-in(@time){
	transition: all @time ease-in;	
}

.ease-out(@time){
	transition: all @time ease-out;
}